body {
	background-image:url('../img/background.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: 'Black Ops One', cursive;
}

footer {
    font-size:0.7em;
}

#banner {
	width: 90vw;

}

#ressources .card img {
	height:437px;
}

#gangs img {
	height:110px;
}

#users .card {
	height:385px;
}

#users img {
	height:50%;
}

.ganger_img {
	display:inline-block;
	height:300px;
	width:150px;
}

.zoomImg {
  transform: scale(1.5);
}

.selectedImg {
  border: solid 5px red;
}

#houses img {
	max-width: 100%;
}

/* BUTTONS */
.btn-save {
	display: flex;
	justify-content: center;
	margin: auto;
}

/* RESPONSIVE TABLE */
.table-responsive {
	background-color: #FFFFFF;
}

.table-responsive td {
	border: 1px solid #dee2e6;
}

/*.table-responsive tbody {
	display: table-row-group;
}*/

@media screen and (max-width: 768px) {
	.table-responsive {
		background-color: transparent;
	}

	.table-responsive thead {
		display: none;
	}

	.table-responsive tbody {
		display: block;
		width: 100%;
	}

	.table-responsive tbody tr {
		display: block;
		margin-bottom: 1rem;
		background-color: #FFFFFF;
	}

	.table-responsive td {
		display: block;
		text-align: right;
	}

	.table-responsive td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform:  uppercase;
	}

	.table-responsive td:last-child {
		border-bottom: 0;
	}
}

/* RESPONSIVE DESIGN */
/* bootstrap - sm */
@media screen and (min-width: 576px) {

}

/* bootstrap - md */
@media screen and (min-width: 768px) {
	#banner {
		width:60vw;
	}
}

/* bootstrap - lg */
@media screen and (min-width: 992px) {
	#banner {
		width:40vw;
	}
}

/* bootstrap - xl */
@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1800px) {
	#banner {
		width:30vw;
	}
}

/* Scroll to top button */
#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 70px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}