body {
	background-image:url('../img/background.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: 'Black Ops One', cursive;
}

footer {
    font-size:0.7em;
}

#banner {
	width: 90vw;
}

.fa-user-cog {
	right: 5vw;
}

/* Ressources */
#ressources .card img {
	height:437px;
}

/* Gangs */
#users .card {
	height:385px;
	max-width: 280px;
}

#users img {
	height:50%;
}

/* My gang */
#gangData {
	display: flex;
	flex-direction: column;
}

.ganger_img {
	display:inline-block;
	height:300px;
	width:150px;
}

.zoomImg {
  transform: scale(1.5);
}

#gangs img {
	height:110px;
}

#gangs #territories {
	background-color: transparent;
}

#gangs #territories tbody {
	background-color: transparent;
}

#gangs #actions a, #gangs #actions button {
	width: 100%;
}

#characteristics td {
	padding: .15rem;
}

/* Edit ganger's images */
.gangers-profils {
 	width: 10rem;
 }

.selectedImg {
  border: solid 5px red;
}

/* Houses */
#houses img {
	max-width: 100%;
}

/* RESPONSIVE DESIGN */
/* bootstrap - sm */
@media screen and (min-width: 576px) {

}

/* bootstrap - md */
@media screen and (min-width: 768px) {
	#banner {
		width:60vw;
	}

	#gangs #actions a, #gangs #actions button {
		width: max-content;
	}

	#gangs #territories tbody {
		background-color: #fff;
	}

	#gangs img {
		height:70px;
	}
}

/* bootstrap - lg */
@media screen and (min-width: 992px) {
	#banner {
		width:40vw;
	}

	#characteristics td {
		padding: .75rem;
	}

	#gangs img {
		height:110px;
	}
}

/* bootstrap - xl */
@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1800px) {
	#banner {
		width:30vw;
	}
}

/* Scroll to top button */
#myBtn {
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}