{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

	<section id="admin" class="mb-5">
		<div class="text-center text-white">
			<p>List of houses</p>

			<ul>
				{% for house in houses %}
					<li>{{ house.name }}</li>
				{% endfor %}
			</ul>

			<p>List of territories</p>

			<ul>
				{% for territory in territories %}
					<li>{{ territory.name }}</li>
				{% endfor %}
			</ul>

			<a href="{{ path('new_territory') }}" class="btn btn-secondary my-2">New territory</a>

		</div>
	</section>

{% endblock %}