{% extends 'base.html.twig' %}

{% block title %}Ganger image{% endblock %}

{% block body %}

	<section id="editGangerImage" class="mb-5">
		<div class="col-10 m-auto text-white">

			<div class="text-right">
				<a href="{{ path('edit_ganger', {'ganger_id' : ganger_id }) }}" class="btn btn-secondary my-2">Back</a>
			</div>

			<div>

			</div>

			<div class="text-center">
				<button class="btn btn-primary">Save image</button>
			</div>
		</div>
	</section>

{% endblock %}