{% extends 'base.html.twig' %}

{% block title %}Gangs{% endblock %}

{% block body %}

<div class="text-center text-white">
	<p>List of gangs</p>

	<ul>
		{% for gang in gangs %}
			<li>{{ gang.name }}</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}
