<thead class="bg-secondary text-white">
	<tr>
		<td class="col-1">D66</td>
		<td class="col-9">Description</td>
		<td class="col-1">Actions</td>
	</tr>
</thead>

<tbody>
	{% for injury in injuries %}
		<tr>
			<td data-label="D66 roll">{{ injury.mind66 ~ ' - ' ~ injury.maxd66 }}</td>
			<td data-label="Description" class="text-left"><br class="d-md-none">{{ injury.description }}</td>
			<td data-label="Actions"><a href="{{ path('insert_new_injury_in_db', {'ganger_id' : ganger_id, 'injury_id' : injury.id }) }}" class="btn btn-secondary mb-3">Add</a></td>
		</tr>
	{% endfor %}
</tbody>
