<table class="table table-bordered bg-white">
	<thead class="bg-secondary text-white">
		<tr>
			<td class="col-1">Name</td>
			<td class="col-1">Category</td>
			<td class="col-9">Description</td>
			<td class="col-1">Actions</td>
		</tr>
	</thead>

	<tbody>
		{% for skill in skills %}
			<tr>
				<td>{{ skill.name }}</td>
				<td>{{ skill.category }}</td>
				<td class="text-left">{{ skill.description }}</td>
				<td><a href="{{ path('insert_new_skill_in_db', {'ganger_id' : ganger_id, 'skill_id' : skill.id }) }}" class="btn btn-secondary mb-3">Add</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>