<thead class="bg-secondary text-white">
	<tr>
		<td class="col-1">Name</td>
		<td class="col-1">Category</td>
		<td class="col-1">Cost</td>
		<td class="col-1">Actions</td>
	</tr>
</thead>

<tbody>
	{% for weapon in weapons %}
		<tr>
			<td data-label="Name">{{ weapon.name }}</td>
			<td data-label="Category">{{ weapon.category }}</td>
			<td data-label="Cost">{{ weapon.cost }}</td>
			<td data-label="Actions"><a href="{{ path('insert_new_weapon_in_db', {'ganger_id' : ganger_id, 'weapon_id' : weapon.id }) }}" class="btn btn-secondary mb-3">Add</a></td>
		</tr>
	{% endfor %}
</tbody>
