{% extends 'base.html.twig' %}

{% block title %}Recruitment{% endblock %}

{% block body %}

	<section id="recruitment">
		<div class="text-center text-white">
			{{ form(form) }}
		</div>
	</section>

{% endblock %}