{% extends 'base.html.twig' %}

{% block title %}Recruitment{% endblock %}

{% block body %}

	<section id="newGang" class="mb-5">

		{% set previousPage = path('home') %}
		{% include 'back.html.twig' %}

		<div class="col-sm-8 offset-lg-4 col-lg-4 m-auto text-white">

			{{ form_start(form) }}

				{{ form_rest(form) }}

				<div class="text-center">
					<button class="btn btn-primary">Ready to fight</button>
				</div>

			{{ form_end(form) }}

		</div>
	</section>

{% endblock %}