{% extends 'base.html.twig' %}

{% block title %}Recruitment{% endblock %}

{% block body %}

	<section id="recruitment" class="mb-5">

		{% set previousPage = path('home') %}
		{% include 'back.html.twig' %}

		<div class="text-center">

			<p class="text-white">Hello {{ gangData.pseudo }}! Select your gangers:</p>

			<div class="col-sm-8 offset-lg-4 col-lg-4 mx-auto">
				<table class="table table-bordered bg-white">
					<tr>
						<td>House: {{ gangData.house }}</td>
					</tr>
					<tr>
						<td>Gang name: {{ gangData.gangName | upper }}</td>
					</tr>
				</table>
			</div>
		</div>
	</section>

{% endblock %}