{% extends 'base.html.twig' %}

{% block title %}Recruitment{% endblock %}

{% block body %}

	<section id="recruitment" class="mb-5">
		<div class="text-center">

			<div class="text-right">
				<a href="{{ path('home') }}" class="btn btn-secondary my-2">Back</a>
			</div>

			<p class="text-white">Hello {{ gangData.pseudo }}! Select your gangers:</p>

			<div class="col-4 mx-auto">
				<table class="table table-bordered bg-white">
					<tr>
						<td>House: {{ gangData.house }}</td>
					</tr>
					<tr>
						<td>Gang name: {{ gangData.gangName | upper }}</td>
					</tr>
				</table>
			</div>
		</div>
	</section>

{% endblock %}