{% extends 'base.html.twig' %}

{% block title %}Gangs{% endblock %}

{% block body %}

	<section id="users">
		<div class="w-100 text-center">

			{% for user in users %}

				<!-- manque le House pour définir l'image de fond; user.gangType-->
				<div class="col-12 col-md-6 col-lg-2 m-auto">
					<div class="card">
						<img class="card-img-top" src="{{ asset('img/cawdor.jpg')}}" alt="house">
						<div class="card-body">
							<h5 class="card-title">{{ user.pseudo ~ '-' ~ user.gangTypeId }}</h5>
							<p class="card-text">{{ user.gangName }}</p>
							<a href="{{ path('gangs', {id : user.id}) }}" class="btn btn-primary">View gang</a>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</section>

{% endblock %}